.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:22px;

margin:50px 0;

}

.stat-card{

background:#0b3448;

border-radius:22px;

padding:30px;

transition:.3s;

cursor:pointer;

}

.stat-card:hover{

transform:translateY(-8px);

box-shadow:0 0 30px rgba(0,212,255,.18);

}

.stat-card h3{

opacity:.7;

margin-bottom:15px;

}

.stat-card h1{

font-size:2.8rem;

color:#6cefff;

}
@media(max-width:900px){

.stats-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:600px){

.stats-grid{

grid-template-columns:1fr;

}

}