.hero{

min-height:100vh;

padding-top:140px;

padding-inline:8%;

display:flex;

align-items:center;

background:#021b2b;

color:white;

}

.hero-content{

max-width:700px;

}

.greeting{

font-size:1.3rem;

color:#8df8ff;

margin-bottom:15px;

}

.hero h1{

font-size:5rem;

font-weight:800;

line-height:1;

margin-bottom:20px;

background:linear-gradient(
90deg,
white,
#8df8ff,
#00d4ff
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.hero h2{

font-size:1.6rem;

font-weight:400;

line-height:1.6;

margin-bottom:45px;

color:rgba(255,255,255,.8);

}

.hero button{

padding:18px 36px;

border:none;

border-radius:14px;

background:#00d4ff;

color:#022233;

font-size:1rem;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.hero button:hover{

transform:translateY(-4px);

box-shadow:0 0 30px rgba(0,212,255,.45);

}